<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495959682708-4i6u73ntbrh9raok279g8rups3lmppb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495959682708-4i6u73ntbrh9raok279g8rups3lmppb4</string>
	<key>API_KEY</key>
	<string>AIzaSyCwuRqY9kzD9GfYAgwhCFM2f28qugNbv20</string>
	<key>GCM_SENDER_ID</key>
	<string>495959682708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pb.testindiasdk</string>
	<key>PROJECT_ID</key>
	<string>affise-india-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>affise-india-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495959682708:ios:e9f475111dbd071f3ace81</string>
</dict>
</plist>